@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");
body {
  font-family: "Roboto", sans-serif;
  color: #002F2F;
  background-color: #EFECCA; }

section {
  margin-bottom: 50px; }

.section_header {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 50px; }

button:hover {
  -moz-transition: all 0.2s 0.01s ease;
  -o-transition: all 0.2s 0.01s ease;
  -webkit-transition: all 0.2s 0.01s ease; }

/*=============== ШАПКА ===============*/
header {
  padding-top: 25px;
  padding-bottom: 20px; }
  header .descript h4 {
    text-transform: uppercase; }
  header .phone_number {
    text-align: right; }
    header .phone_number a {
      color: #002F2F; }
      header .phone_number a:hover {
        text-decoration: none; }
    header .phone_number h3 {
      margin-top: 10px; }
    header .phone_number i {
      color: #046380;
      width: 20px;
      height: auto;
      padding-right: 5px; }
    header .phone_number p {
      font-family: "Roboto Condensed", sans-serif; }

/*=============== НАВИГАЦИЯ ===============*/
nav {
  background-color: #E6E2AF; }
  nav ul {
    margin-bottom: 0; }
  nav .list-inline a {
    display: inline-block;
    text-transform: uppercase;
    padding: 20px 10px;
    color: #002F2F;
    font-family: "Roboto Condensed", sans-serif;
    -moz-transition: all 0.2s 0.01s ease;
    -o-transition: all 0.2s 0.01s ease;
    -webkit-transition: all 0.2s 0.01s ease; }
    nav .list-inline a:hover {
      text-decoration: none;
      background-color: #046380;
      color: #EFECCA; }

/*=============== ГЛАВНЫЙ ЭКРАН ===============*/
#main {
  background: url("../img/13.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 100px; }
  #main h1 {
    color: #EFECCA;
    text-transform: uppercase;
    margin-bottom: 90px; }
    #main h1 span {
      background-color: #046380;
      padding: 7px;
      line-height: 1.2; }
  #main h3 span {
    color: #E6E2AF; }
  #main button {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 100px; }
  #main #button1 {
    background-color: #A7A37E; }
    #main #button1:hover {
      background-color: #E6E2AF; }
  #main #button2 {
    color: #002F2F;
    padding: 13px 28px;
    background-color: transparent;
    border: 2px solid #A7A37E;
    margin-left: 20px; }
    #main #button2:hover {
      background-color: rgba(239, 236, 202, 0.5);
      color: #EFECCA; }

/*=============== ВИДЫ ПЕСКА ===============*/
#sandy_types h4 {
  text-transform: uppercase;
  margin-top: 25px; }

#sandy_types img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px; }

#sandy_types button {
  border: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 2px; }

#sandy_types .more_btn {
  color: #046380;
  padding: 10px 23px;
  background-color: transparent;
  border: 2px solid #046380; }
  #sandy_types .more_btn:hover {
    background-color: #046380;
    color: #EFECCA; }

#sandy_types .offer_btn {
  color: #EFECCA;
  padding: 10px 23px;
  background-color: #046380;
  border: 2px solid #046380; }
  #sandy_types .offer_btn:hover {
    background-color: transparent;
    color: #046380; }

#sandy_types .card {
  -moz-transition: all 0.2s 0.01s ease;
  -o-transition: all 0.2s 0.01s ease;
  -webkit-transition: all 0.2s 0.01s ease;
  padding: 5px;
  border: 2px solid transparent;
  margin-bottom: 30px; }
  #sandy_types .card:hover {
    border: 2px solid #E6E2AF; }

/*=============== КОНСУЛЬТАЦИЯ ===============*/
#cons h3 {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  color: #046380; }

#cons p {
  font-size: 18px; }

#cons button {
  border: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 2px;
  padding: 13px 28px;
  background-color: transparent;
  border: 2px solid #A7A37E; }
  #cons button:hover {
    background-color: rgba(239, 236, 202, 0.5);
    background-color: #E6E2AF; }

#cons img {
  margin-top: 25px; }

/*=============== НАШИ РАБОТЫ ===============*/
/*=============== АКЦИЯ ===============*/
#action {
  padding-top: 20px; }
  #action h4 {
    text-transform: uppercase;
    color: #046380; }
  #action h3 {
    text-transform: uppercase; }
  #action p {
    font-size: 22px; }
  #action .input-group {
    padding: 5px; }
  #action #free {
    color: #046380; }
  #action input {
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: #EFECCA;
    padding: 25px; }
    #action input:hover {
      background-color: #E6E2AF; }
  #action .input-group-addon {
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: #EFECCA; }
  #action .input-group {
    float: left; }
  #action .button {
    padding: 5px; }
  #action button {
    border: none;
    padding: 16px 25px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 100px;
    background-color: #A7A37E; }
    #action button:hover {
      background-color: #E6E2AF; }

/*=============== ОТЗЫВЫ ===============*/
#feedback .item {
  background-color: #E6E2AF;
  padding: 20px; }
  #feedback .item a {
    font-family: "Roboto Condensed", sans-serif; }
  #feedback .item h5 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 25px; }
  #feedback .item p {
    padding: 20px;
    font-size: 16px; }

#feedback .ava {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px; }

#feedback h5 {
  text-transform: uppercase; }

#feedback .carousel-indicators {
  bottom: -50px; }
  #feedback .carousel-indicators li {
    border: solid 1px #046380; }
  #feedback .carousel-indicators .active {
    background-color: #046380; }

/*=============== ПОДВАЛ ===============*/
footer {
  background-color: #002F2F;
  color: #EFECCA;
  font-family: "Roboto Condensed", sans-serif; }
  footer .map {
    margin: 25px;
    margin-left: 0; }
  footer h2 {
    text-transform: uppercase;
    margin-left: -15px;
    margin-bottom: 30px; }
  footer i {
    margin: 5px; }
  footer #city,
  footer #number {
    text-transform: uppercase; }
  footer .social {
    margin-top: 10px;
    margin-bottom: 30px; }
    footer .social i {
      color: #A7A37E; }
  footer button {
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #046380;
    margin: 10px; }
    footer button:hover {
      background-color: #E6E2AF;
      color: #046380; }
  footer .details {
    text-transform: uppercase; }
    footer .details h5 {
      font-size: 20px; }
  footer .policy a {
    border-bottom: 1px dashed; }
  footer .web-makster {
    text-transform: uppercase; }
