html, body { 
  margin: 0; 
  padding: 0;
  font-family: 'Open Sans', sans-serif; 
  height:100%;
  width: auto;
  color:#777; 
  background:#fff;
  font-size:14px;
}

ol, ul { 
  padding: 0;
  margin:0;
  list-style:none; 
}

.clearfix:before, 
.clearfix:after { 
  content: " "; 
  display: table; 
}

.clearfix:after { 
  clear: both; 
}

.clearfix { 
  *zoom: 1; 
}

a { 
  color: #d3051f; 
  -webkit-transition: all .25s ease; 
  -moz-transition: all .25s ease; 
  -ms-transition: all .25s ease; 
  -o-transition: all .25s ease; 
  transition: all .25s ease; 
  text-decoration:none; 
}

a:hover { 
  color: #000; 
  text-decoration: none; 
}

.centered {
  text-align:center;
}

.wrapper {
  width:100%;
  max-width: 1200px;
  /*min-width: 1000px;*/
  margin: 0 auto;
  padding: 10px 15px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.left {
  float:left;
}

.right {
  float:right;
}

h1, h2, h3, h4, h5 {
}

h2 {
  font-size:36px;
  margin: 0 0 40px 0;
  text-transform:uppercase;
  text-align: center;
  font-weight:800;
}

i {
  margin: 0 10px 0 0;
}

/*ХЕДЕР*/

header {
}

header .wrapper {
  padding:6px 15px;
}

.top {
  background:#f8f8f8;
}

.top .left span {
  margin: 4px 20px 0 0;
  display: inline-block;
}

.top .left a {
  color:#000;
}

.top .left a:hover {
  color:#ccc;
}

.top .social a {
  text-align:center;
  display: inline-block;
  height:30px;
  width:30px;
  border-radius:30px;
  background:#e3e3e3;
  padding: 5px;
  color:#777;
  margin: 0 0 0 6px;
  box-sizing:border-box;
}

.top .social a:hover {
  background:#d3051f;
  color:#fff;
}

.top .social a i {
  margin:0;
}

/*ГЛАВНОЕ МЕНЮ*/

.main-menu {
  height:100px;
  background:url(../img/header.jpg) no-repeat center center;
}

.main-menu nav {
  margin:50px 0 0 0;	
}

.main-menu nav ul li {
  display:inline-block;
  margin:0 20px;
  padding:0;
}

.main-menu nav ul li a {
  display: block;
  color:#777;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.main-menu nav ul li a:hover {
  color: #d3051f; 
  border-bottom: 1px solid #d3051f;
}

.main-menu nav ul li ul.dropdown {
  position:absolute;
  width:100% !important;
  background:#fff;
  border-top:1px solid #d3051f;
  left:0;
  text-align:center;
  display:none;
  top:142px; 
}

.main-menu nav ul li ul.dropdown li a {
  padding:15px 10px;
  text-transform:uppercase;
  border:none;
}

.main-menu nav ul li ul.dropdown li a:hover {
  color:#000;
  border:none;
}

/*.main-menu nav ul li:hover ul.dropdown {
display:block;
}*/

.contract {
  background:#d3051f;
  color:#fff;
  width:200px;
  text-align:center;
  padding:15px 0;
  text-transform:uppercase;
  border-radius:5px;
  margin:30px 0 0 20px;
  border:1px solid #d3051f;
  display:  block;
}

.contract:hover {
  color:#d3051f;
  background:#fff;
}

/*САБХЕДЕР*/

.subheader {
  color:#fff;
  text-align:center;
  height:500px;
  background-image:url(../img/subheader.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.subheader .container {
  padding:100px 15px;}

  .subheader .container h1 {
    font-size:42px;
    text-transform:uppercase;
    font-weight:800;
    margin-bottom:0;
  }

  .subheader .container p {
    font-size:18px;
    margin:0;
  }

  /*УСЛУГИ*/

  .services {
    text-align:center;
    background:#4a4a4a;
    color:#fff;
    width:100%;
    max-width: 1200px;
    margin: -100px auto 0 auto;
    padding: 40px 15px;
  }

  .services-block {
    /*height:280px;*/
    position:relative;
    width:24%;
    display: inline-block;
    vertical-align:top;
    border-right: 1px solid #777;
    padding:0 20px;
    box-sizing:border-box;
  }

  .services-block:last-child {
    border:none;}

    .services-block h2 {
      font-size:16px;
      font-weight:800;
      margin:0 0 20px 0;
    }

    .services-block i {
      font-size:36px;
    }

    .services-block ul {
      margin:20px 0 0 40px;
      text-align:left;
    }

    .services-block ul li {
      list-style-type:disc;
    }

    .services-block ul li a {
      display:block;
      margin:0 0 8px 0;
      color:#fff;
    }

    .services-block ul li a:hover {
      text-decoration:underline;
    }

    .services a.readmore {
      background:#fff;
      color:#4a4a4a;
      display: block;
      width:160px;
      text-align:center;
      padding:15px 0;
      text-transform:uppercase;
      border-radius:5px;
      margin:30px auto 0 auto;
      border:1px solid #fff;
/*position:absolute;
bottom:0;*/
}

.services a.readmore:hover {
  color:#fff;
  background:#4a4a4a;
  border:1px solid #fff;
}

/*О КОМПАНИИ*/

.about {
  width:100%;
  max-width: 1200px;
  margin: 30px auto 0 auto;
  padding: 40px 15px;
}

.about .text-block.left, 
.about .img-block.right {
  position: relative;
  width:45%;
}

.about h2 {
  text-align:left;
}

.about p {
  font-size:16px;
}

.about ul li {
  font-size:16px;
  list-style-type:disc;
  margin: 0 0 6px 40px;
}

.about .contract {
  margin: 40px auto;
  font-size:14px;
}

.about .img-block:before {
  content: ".";
  width:50%;
  height:90%;
  background:#d3051f;
  position:absolute;
  z-index:1;
  top:50px;
  right:40px;
}

.about .img-block .about-img {
  overflow:hidden;
  z-index:2;
}

.about .img-block .about-img img {
  width:100%;
}

.about .img-block .about-img:first-child {
  width:290px;
  height:370px;
  position: relative;
}

.about .img-block .about-img:last-child {
  width:40%;
  position: absolute;
  bottom:-60px;
  right:0;
}

/*ПРЕИМУЩЕСТВА*/

.prefs {
  background-image:url(../img/bg-1.jpg);
  /*height:500px;*/
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  padding: 50px 0;
  box-sizing:border-box;
}

.tabs {
  /*min-width: 320px;*/
  max-width: 1000px;
  padding: 0px;
  margin: 0 auto;
  text-align:center;
}

.tabs > section {
  display: none;
  padding: 15px;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
  margin: 40px 0 0 0;
}

.tabs > section > p { 
  text-align:left;
  margin: 0 0 5px;
  line-height: 1.5;
  color: #777;
  padding:20px 40px;
  box-sizing:border-box;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabs > input {
  display: none;
  position: absolute;
}

.tabs > label {
  font-weight:800;
  color: #adadad;
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: top;
  margin: 0 14px;
  border-bottom: 2px solid rgba(0,0,0,0);
  padding: 0 0 20px 0;


  -webkit-transition: all .25s ease; 
  -moz-transition: all .25s ease; 
  -ms-transition: all .25s ease; 
  -o-transition: all .25s ease; 
  transition: all .25s ease; 
}

.prefs .tabs > label:before {
  font-family: fontawesome;
  font-weight: normal;
  display: block;
  margin-bottom:10px;
  font-size:30px;
}

.prefs .tabs > label[for*="1"]:before {
  content: "\f19d";
}

.prefs .tabs > label[for*="2"]:before {
  content: "\f002";
}

.prefs .tabs > label[for*="3"]:before {
  content: "\f091";
}

.tabs > label[for*="4"]:before {
  content: "\f007";
}

.tabs > label:hover {
  color: #777;
  cursor: pointer;
  border-bottom: 2px solid #d3051f;
}

.tabs > input:checked + label {
  color: #777;
}

#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3,
#tab4:checked ~ #content-tab4,
#tab5:checked ~ #content-tab5 {
  display: block;
}



/*СЕМИНАРЫ*/

.seminars {
  background: #4a4a4a;
  padding:40px 0;
  box-sizing:border-box;
  height:250px;
  position:relative;
  color:#fff;
}

.seminars-block {
  width:90%;
  margin: 0 auto;
}

.seminars-inner {
  box-sizing:border-box;
  padding: 0 30px;
  display: inline-block;
  vertical-align:top;	
  width:75%;	
}

.seminars-inner p {
  margin:0;
  font-size:20px;
}


.date {
  box-sizing:border-box;
  width:190px;
  text-align:center;
  border-right:1px solid #777;
  padding:0 20px;
  box-sizing:border-box;
  display: inline-block;
  vertical-align:top;	
}

.date span {
  display: block;
}

.date .day {
  font-size:36px;
}

.date .day b {
  font-size:60px;
  font-weight:900;
}

.date .start {
  font-size:24px;
}

.date .time {
  font-size:24px;
  font-weight:900;
}

.seminars a.readmore {
  background:#fff;
  color:#4a4a4a;
  display: block;
  width:160px;
  text-align:center;
  padding:15px 0;
  text-transform:uppercase;
  border-radius:5px;
  margin:20px 0 0 0;
  border:1px solid #fff;
}

.seminars a.readmore:hover {
  color:#fff;
  background:#4a4a4a;
  border:1px solid #fff;
}



/*КАРУСЕЛЬКА*/

.carousel-container {
  position: relative;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50px;
  display: block;
  width: 50px;
  height: 50px;
  background:#4a4a4a;
  border:1px solid #fff;
  border-radius:50px;
  color:#fff;
  font-size:42px;
  text-align:center;
  line-height:1.1;
}

.arrow:hover {
  background:#fff;
  color:#4a4a4a;
}

.arrow-prev {
  left: 0;
}

.arrow-prev i {
  margin:0 5px 0 0;
}

.arrow-next {
  right: 0;
}

.arrow-next i {
  margin:0 0 0 5px;
}

.light {
  color: white;}

  [id^="target-item"] {
    display: none;
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
  }

  *:target ~ .item-1 {
    opacity: 0;
  }

  #target-item-1:target ~ .item-1 {
    opacity: 1;
  }

  #target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

  /*НОВОСТИ*/

  .news {
    padding: 50px 0;
    box-sizing:border-box;
    text-align:center;
  }

  .news a {
    color:#777;
  }

  .news a:hover {
    color:#000;
  }

  .news-item {
    display: inline-block;
    vertical-align:top;
    width:28%;
    margin: 0 18px;
    margin-bottom: 30px;
    text-align:left;
  }

  .news-item .img-block {
    width:100%;
    height:auto;
  }

  .news-item .img-block img {
    width:100%;
    height:auto;
  }

  .news-item span {
    font-size:12px;
    color:#d3051f; 
  }

  .news a.readmore {
    background:#fff;
    color:#d3051f;
    display: block;
    width:160px;
    text-align:center;
    padding:15px 0;
    text-transform:uppercase;
    border-radius:5px;
    margin:40px auto 0 auto;
    border:1px solid #d3051f;
  }

  .news a.readmore:hover {
    color:#fff;
    background:#d3051f;
  }

  /*КЛИЕНТЫ*/

  .clients {
    background-image:url(../img/bg-2.jpg);
    /*height:500px;*/
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    padding: 50px 0;
    box-sizing:border-box;
  }

  .testimonials {
    padding: 30px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
    box-sizing:border-box;
    width:40%;
    display: inline-block;
    vertical-align:top;
    line-height:1.6;
    /*max-height:300px;*/
  }

  .testimonials i {
    color:#d3051f;
    font-size:36px;
  }

  .testimonials .img-block {
    width:60px;
    height:60px;
    border-radius:60px;
    overflow:hidden;
    display: inline-block;
    vertical-align:top;
    margin: 0 20px 0 0;
  }

  .testimonials .img-block img {
    width:100%;
  }

  .testimonials .author {
    display: inline-block;
    vertical-align:top;
    width:80%;
  }

  .testimonials .author span {
    display: block;
  }

  .testimonials .author span.name {
    font-size:18px;
    color:#d3051f;
  }

  .logos {
    margin: 0 0 0 40px;
    width:55%;
    display: inline-block;
    vertical-align:top;
    text-align:left;
  }

  .logos img {
    filter: grayscale(100%);
    -webkit-transition: all .25s ease; 
    -moz-transition: all .25s ease; 
    -ms-transition: all .25s ease; 
    -o-transition: all .25s ease; 
    transition: all .25s ease; 
    display: inline-block;
    vertical-align:top;
    margin: 0 30px 20px 30px;
  }

  .logos img:hover {
    filter: none;
  }

  /*КОНТАКТЫ*/

  .contacts {
    background:#151515;
    padding:60px 0;
  }

  .contacts h5 {
    color:#fff;
    font-size:14px;
    font-weight:300;
    margin: 0 0 20px 0;
    text-transform:uppercase;
  }

  .contacts nav li {
    margin: 0 0 6px 20px;
  }

  .contacts nav a {
    color:#777;
  }

  .contacts nav a:hover {
    color:#fff;
  }

  .contacts .right {
    margin: 0 0 0 60px;
  }

  .contacts .right span {
    display:block;
    margin:0 0 20px 20px; 
  }

  .contacts .social {
    text-align:center;	
  }

  .contacts .right a {
    color:#777;
  }

  .contacts .right a:hover {
    color:#fff;
  }

  .contacts .social a {
    text-align:center;
    display: inline-block;
    height:30px;
    width:30px;
    border-radius:30px;
    background:#fff;
    padding: 5px;
    color:#777;
    margin: 0 0 0 6px;
    box-sizing:border-box;
  }

  .contacts .social a:hover {
    background:#d3051f;
    color:#fff;
  }

  .contacts .social a i {
    margin:0;
  }

  /*ФУТЕР*/

  footer { 
    background: #151515;  
  }

  footer .wrapper {
    padding:20px 15px;
    border-top:1px solid #777;
  }

  /*ВНУТРЕННИЕ СТРАНИЦЫ*/

  .title {
    background-image:url(../img/bg-3.jpg);
    /*height:200px;*/
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    box-sizing:border-box;
    padding:50px 0 20px 0;
  }

  .title h1 {
    text-align:center;
    font-size:36px;
    font-weight:800;
    text-transform:uppercase;
  }

  .main-container {
    padding: 60px 0 0 0;
    line-height:1.6;
  }

  .nopadding-container {
    padding: 0;
    line-height:1.6;
  }

  .img-article {
    width:45%;
    float:left;
    margin: 0 40px 10px 0;
  }

  .img-article img {
    width:100%;
  }

  .date-article {
    padding: 0 0 10px 0;
    display: inline-block;
    color: #d3051f;
    border-bottom: 2px solid #d3051f;
    margin: 0 0 20px 0;
    width:100%;
  }

  .main-container p {
    margin: 0 0 20px 0;
  }

  blockquote {
    font-size:20px;
    border-left: 2px solid #d3051f;
    padding-left:30px;
    width:80%;
  }

  .main-container ul {
    margin:20px 40px;
    list-style-type:disc;
  }

  ul.color-list {
    color:#d3051f;
  }

  ul.color-list span {
    color:#777;
  }

  .main-container ol {
    margin:20px 40px;
    list-style-type:decimal;
  }

  .main-container h1 {
    text-align:left;
    font-size:36px;
  }

  .main-container h2 {
    text-align:left;
    font-size:30px;
  }

  .main-container h3 {
    font-size:24px;
    font-weight:normal;
    text-transform:uppercase;
    font-weight:800;
  }

  .main-container h4 {
    font-size:24px;
    font-weight:normal;
    text-transform:none;
  }

  .main-container h5 {
    font-size:16px;
    text-transform:none;
  }

  .summary {
    float:left;
    width:45%;
  }

  .summary .contract {
    margin:20px auto;
  }

  .text-block.clearfix {
    clear:both;
    float:none;
  }

  /*СТРАНИЦА КОНТАКТОВ*/

  .contacts-block .info,
  .contacts-block .map {
    width:50%;
    background:#f9f9f9;
    height:500px;
  }

  .contacts-block .info-inner {
    margin:8% 40px 40px 20%;
    text-align:right;
  }

  .contacts-block h5, .contacts-block span {text-align:left;
    display:block;
  }

  .contacts-block h5 {
    margin: 15px 0;
    color:#d3051f;
  }

  .message-form {
    padding:60px 15px;
  }

  .message-form h2 {
    text-align:center;
  }

  .message-form input[type=text] {
    border:none;
    padding:20px;
    background:#f5f5f5;
    font-style:italic;
    width:30%;
    margin:0 0 0 20px;
    box-sizing:border-box;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
  }

  .message-form input:first-child {
    margin:0;
  }

  .message-form textarea {
    border:none;
    padding:20px;
    background:#f5f5f5;
    font-style:italic;
    font-family: 'Open Sans', sans-serif; 
    width:100%;
    height:220px;
    margin:20px 0;
    box-sizing:border-box;
    font-size:14px;
  }

  .message-form input[type=submit] {
    cursor:pointer;
    background:#d3051f;
    color:#fff;
    width:200px;
    text-align:center;
    padding:15px 0;
    text-transform:uppercase;
    border-radius:5px;
    margin:30px auto;
    border:1px solid #d3051f;
    display:  block;

    -webkit-transition: all .25s ease; 
    -moz-transition: all .25s ease; 
    -ms-transition: all .25s ease; 
    -o-transition: all .25s ease; 
    transition: all .25s ease; 
  }

  .message-form input[type=submit]:hover {
    color:#d3051f;
    background:#fff;
  }


  /*СТРАНИЦА СТАТЬИ НОВОСТИ СЕМИНАРЫ*/

  .article-item {
    margin: 0 0 60px 0;
  }

  .article-item h5 {
    margin-top:0;
  }

  .article-item .readmore {
    background:#d3051f;
    color:#fff;
    display: block;
    width:120px;
    text-align:center;
    padding:10px 0;
    text-transform:uppercase;
    border-radius:5px;
    margin:30px 0 0 0;
    border:1px solid #d3051f;
  }

  .article-item .readmore:hover {
    color:#d3051f;
    background:#fff;
  }

  .article-item.noimage-item .summary {
    width:100%;
  }


  /*ПАГИНАЦИЯ*/

  .pagination {
    text-align:center;
  }

  .pagination ul {
    list-style-type:none;
  }

  .pagination ul li {
    display:inline-block;
    vertical-align:top;
    /*margin:0 5px;*/
  }

  .pagination ul li a {
    font-size:16px;
    color:#777;
    background:#fff;
    padding:10px 16px;
    border-radius:30px;
  }

  .pagination ul li a:hover, 
  .pagination ul li a.active {
    color:#fff;
    background:#d3051f;
    padding: 10px 16px;
    border-radius:40px;
  }

  .pagination ul li:first-child i {
    font-size:20px;
    margin:0 4px 0 0;
  }
  .pagination ul li:last-child i {
    font-size:20px;
    margin:0 0 0 4px;
  }


  /*СТРАНИЦА КЛИЕНТЫ*/

  .main-container .clients {
    height:400px;
    background:#f9f9f9;
  }

  .main-container .projects {
    text-align:center;
    background-image:url(../img/bg-4.jpg);
    height:500px;
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    box-sizing:border-box;
    padding:60px 0;
  }

  .main-container .projects h2 {
    text-align:center;
  }

  .main-container .projects ul {
    text-align:left;
    width:80%;
    margin: 0 auto 40px auto;
  }

  .clients-list {
    text-align:center;
    padding:60px 15px;
  }

  .client-item {
    text-align:left;
    display:inline-block;
    vertical-align:top;
    width:30%;
    margin: 20px 15px;
    padding: 0 0 20px 0;



    -webkit-transition: all .25s ease; 
    -moz-transition: all .25s ease; 
    -ms-transition: all .25s ease; 
    -o-transition: all .25s ease; 
    transition: all .25s ease; 
    position:relative;
  }

  .client-icon {
    -webkit-transition: all .25s ease; 
    -moz-transition: all .25s ease; 
    -ms-transition: all .25s ease; 
    -o-transition: all .25s ease; 
    transition: all .25s ease; 
    padding: 0 0 20px 0;
    border-bottom:2px solid #fff;
  }

  .client-icon:hover {
    border-bottom:2px solid #d3051f;
  }

  .client-icon img {
    width:50px;
    height:50px;
    background:#4a4a4a;
    border-radius:50px;
    display:inline-block;
    vertical-align:top;
    margin:0 10px 0 0;

    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease; 
    -ms-transition: all .25s ease; 
    -o-transition: all .25s ease; 
    transition: all .25s ease; 
  }

  .client-item:hover .client-icon img {
    background:#d3051f;
  }

  .client-item span {
    font-size:16px;
    display:inline-block;
    vertical-align:top;
    width:80%;
  }

  .client-category {
   display:none;
   position:relative;
   margin:0 auto;
   padding:20px;
   box-sizing: border-box;
   -moz-column-count: 2;
   -moz-column-width: 45%;
   -moz-column-gap: 2em;
   -webkit-column-count: 2;
   -webkit-column-width: 45%;
   -webkit-column-gap: 2em;
   column-count: 2;
   column-width: 45%;
   column-gap: 2em;
   background:#fff;
 }

 .client-category ul {margin:0;}
 .client-category ul li {margin:0 0 10px 0;}


 /*СТРАНИЦА О КОМПАНИИ О РУКОВОДИТЕЛЕ  УСЛУГИ*/

 .main-container .about {
  font-size: 16px;
  margin-top:0;
}

.chief .about .img-block .about-img:first-child {
  width:360px;
  position: relative;
  height:auto;
}

.chief .about .img-block:before {
  content: ".";
  width:50%;
  height:90%;
  background:#d3051f;
  position:absolute;
  z-index:1;
  top:50px;
  right:100px;
}

.chief .prefs {
  background-image:url(../img/bg-6.jpg);
  /*height:500px;*/
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  padding: 30px 0;
  box-sizing:border-box;
}

.chief .prefs section {
  margin: 30px 0 0 0;
}

.chief .prefs .tabs > label {
  font-weight:800;
  color: #adadad;
  display: inline-block;
  text-align: center;
  width: 30%;
}

.chief .prefs .tabs > label[for*="1"]:before {
  content: "\f19c";
}

.chief .prefs .tabs > label[for*="2"]:before {
  content: "\f005";
}

.chief .prefs .tabs > label[for*="3"]:before {
  content: "\f091";
}

.chief .tabs p span {
  display:block;
}

.sertificates {
  background-image:url(../img/bg-5.jpg);
  height:500px;
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  padding: 60px 0;
  box-sizing:border-box;
}

.sertificates h2 {
  text-align:center;
  margin-bottom: 80px;
}

.sertificates .arrow {
  position: absolute;
  top: 50px;
  display: block;
  width: 50px;
  height: 50px;
  background:none;
  border:none;
  border-radius:50px;
  color:#777;
  font-size:42px;
  text-align:center;
  line-height:1.1;
}

.sertificates .arrow:hover {
  background:none;
  color:#000;
}

.sertificates  .sertificates-block {
  text-align: center;
}

.sertificates .img-block {
  overflow:hidden;
  width:160px;
  height:160px;
  /*margin:0 10px;*/
  border:6px solid #fff;
  display: inline-block;
  vertical-align:top;
  border-radius: 100px;
}

.sertificates .img-block img {
  display: block;
  height:100%;
  width:auto;
}

.chief .sertificates .img-block img {
  display: block;
  width:100%;
  height:auto;
}


.company .contract {
  background:#d3051f;
  color:#fff;
  width:300px;
  text-align:center;
  padding:15px 0;
  text-transform:uppercase;
  border-radius:5px;
  margin:30px auto;
  border:1px solid #d3051f;
  display:  block;
}

.company .contract:hover {
  color:#d3051f;
  background:#fff;
}

.company  .prefs {
  background-image:url(../img/bg-7.jpg);
  /*height:500px;*/
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  padding: 30px 0;
  box-sizing:border-box;
}

.company .prefs .tabs > label {
  font-weight:800;
  color: #adadad;
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: 0 20px;
}

.company .prefs .tabs > label[for*="1"]:before {
  content: "\f19d";
}

.company .prefs .tabs > label[for*="2"]:before {
  content: "\f0ac";
}

.company .prefs .tabs > label[for*="3"]:before {
  content: "\f06b";
}

.company .prefs .tabs > label[for*="4"]:before {
  content: "\f005";
}

.company .prefs .tabs > label[for*="5"]:before {
  content: "\f164";
}



.company .tabs > label,
.chief .tabs > label {
  font-weight:800;
  color: #adadad;
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: top;
  margin: 0 14px;
  border-bottom: 2px solid rgba(0,0,0,0);
  padding: 0 0 20px 0;


  -webkit-transition: all .25s ease; 
  -moz-transition: all .25s ease; 
  -ms-transition: all .25s ease; 
  -o-transition: all .25s ease; 
  transition: all .25s ease; 
}

.prefs .tabs > label:before {
  font-family: fontawesome;
  font-weight: normal;
  display: block;
  margin-bottom:10px;
  font-size:30px;
}

.company .tabs > label:hover,
.chief .tabs > label:hover {
  color: #777;
  cursor: pointer;
  border-bottom: 2px solid #d3051f;
}

.company .tabs > input:checked + label,
.chief .tabs > input:checked + label {
  color: #777;
}


.main-container .services {
  text-align:center;
  background:#fff;
  color:#777;
  width:100%;
  max-width: 1200px;
  margin: 60px auto 0 auto;
  padding: 40px 15px 100px 15px;
}

.main-container .services-block {
  border:none;
}

.main-container .services-block i {
  background:#d3051f;
  color:#fff;
  padding:20px 10px 10px 10px;
  font-size:36px;
  border-radius:100px;
  height:80px;
  width:80px;
  box-sizing: border-box;
}

.main-container .services-block h2 {
  font-size:16px;
  text-align:center;
  margin:20px 0;
}

.main-container .services a.readmore {
  background:#d3051f;
  color:#fff;
  display: block;
  width:160px;
  text-align:center;
  padding:15px 0;
  text-transform:uppercase;
  border-radius:5px;
  margin:30px auto 0 auto;
  border:1px solid #d3051f;
  /*position:absolute;
  bottom:-50px;*/
}

.main-container .services a.readmore:hover {
  color:#d3051f;
  background:#fff;
  border:1px solid #d3051f;
}

.main-container .services  ul {
  color:#d3051f;
  margin:20px 10px 20px 40px;
}

.main-container .services  ul li a  {
  color:#777;
}

.main-container .services  ul li a:hover  {
  color:#000;
}


.about.second .img-block:before {
  display:none;
}

.about.second .img-block .about-img {
  overflow:hidden;
  z-index:2;
}

.about.second .img-block .about-img img {
  width:100%;
}

.about.second .img-block .about-img:first-child {
  width:100%;
  height:auto;
  position: relative;
}

.about.second .img-block .about-img:last-child {
  bottom:0;
}

.services-container .prefs {
  line-height: 1.4;
  background-image:url(../img/bg-5.jpg);
  /*height:500px;*/
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  padding: 50px 0;
  box-sizing:border-box;
}

.services-container .prefs h2 {
  font-size:24px;
  text-align:center;
  text-transform:none;
  margin-bottom:20px;
}

.sp-block i {
  display:inline-block;
  color:#d3051f;
}

.sp-block h5 {
  display:inline-block;
  margin: 10px 0 5px 0;
}

.sp-block span {
  font-size:15px;
  display: block;
  margin: 0 0 0 24px;
}

.columns {
	width:90%;
	margin:0 auto;
	-moz-column-count: 2;
  -moz-column-width: 45%;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-width: 45%;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-width: 45%;
  column-gap: 2em;
}


/*ДОПОЛНЕНИЯ*/

/*body, html {
  overflow-x: hidden;
  }*/

  main {
    margin-top: 142px;
    overflow-x: hidden;
  }

  .m-menu {
    display: none;
    position: absolute;
    font-size: 32px;
    top: -3px;
    right: 5px;
    z-index: 100;
    cursor: pointer;
    color: #d3051f;
  }

  #menu_header {
    position: fixed;
    z-index: 1000;
    display: block; 
    top: 0;
    left: 0;
    width: 100%;
    /*overflow:hidden;*/
    -webkit-transition: 500ms all ease-in-out;
    -moz-transition: 500ms all ease-in-out;
    -ms-transition: 500ms all ease-in-out;
    -o-transition: 500ms all ease-in-out;
  }
  .menu_header-close {  
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0; 
  }

  form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }


  /*АДАПТИВ*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

    .main-menu nav ul li {
      margin: 0 5px;
    }
    .seminars {
      height: 300px;
    }
    .seminars-inner {
      width: 65%;
    }
    .testimonials {
      width: auto;
      margin-bottom: 30px;
    }
    .logos {
      width: auto;
      text-align: center;
      margin: 0;
    }
    .contacts .right {
      margin: 0 0 0 20px;
    }

    /*.sertificates {
      height: 600px;
    }
    .sertificates .img-block {
      margin: 10px;
    }*/

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    header .top, .main-menu nav {
      display: none;
    }
    .m-menu {
      display: block;
      top: 35px;
    }
    .contract {
      margin-right: 50px;
    }
    .main-menu nav {
      background-color: #fff;
      position: absolute;
      z-index: 100;
      top: 100px;
      right: -50px;
      margin: 0;
      margin-right: 50px;
      padding: 15px;
      font-size: 18px;
      width: 270px;
      max-width: 100%;
      text-align: right;
      overflow: scroll;
    }
    .main-menu nav ul li {
      margin: 10px;
      display: block;
    }
    .main-menu nav ul li ul.dropdown {
      position: relative;
      text-align: left;
      top: 10px;
      margin-bottom: 30px;
      border: none;
    }
    .main-menu nav ul li ul.dropdown li a {
      padding: 0;
      text-transform: none;
    }
    main {
      margin-top: 100px;
    }
    .services-block {
      width: 49%;
      margin-bottom: 50px;
    }
    .services-block:nth-child(2) {
      border: none;
    }
    .about .text-block.left {
      width: 100%;
      z-index: 2;
    }
    .about .img-block.right {
      position: absolute;
      z-index: 0;
      right: 0;
      filter: opacity(.3);
      overflow: hidden;
    }
    .tabs > label {
      width: 43%;
    }
    .date {
      display: none;
    }
    .seminars-inner {
      width: 100%;
    }
    .news-item {
      margin: 0 10px;
    }
    .logos img {
      margin: 0 20px 20px 20px;
    }
    .map-img-wrapper {
      width: 100%;
      display: inline-block;
    }
    .map-img-wrapper img.right {
      margin: 50px auto 0 auto;
      float: none;
      display: block;
    }

    .title h1 {
      font-size: 32px;
    }

    .main-container {
      padding: 0;
    }
    .company .prefs .tabs > label {
      width: 40%;
    }
    /*.sertificates .img-block {
      width: 150px;
      height: 150px;
    }*/

    .columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      -o-column-count: 1;
      column-count: 1;
    }
    .sp-block {
      margin-bottom: 15px;
    }

    .img-article {
      width: 100%;
    }
    .summary {
      width: 100%;
    }
    .img-article img {
      width: 50%;
    }

    .contacts-block .info, .contacts-block .map {
      width: 100%;
    }

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    .main-menu .logo {
      max-width: 40%;
    }
    .contract {
      display: none;
    }
    .contract.visible {
      display: block;
    }
    .m-menu {
      top: 25px;
    }
    .subheader .container {
      padding: 60px 15px;
      height: auto;
    }
    .subheader .container h1 {
      font-size: 36px;
    }
    .services-block {
      width: 100%;
      border: none;
    }
    .tabs > label {
      width: 39%;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
    .seminars {
      display: none;
    }
    .news-item {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
    .contacts {
      text-align: center;
    }
    .contacts .left {
      width: 100%;
      margin-bottom: 30px;
    }
    .contacts .right {
      margin-left: 0;
    }
    .contacts nav li {
      margin-left: 0;
    }

    .title h1 {
      font-size: 28px;
    }

    .company .contract {
      width: 250px;
    }
    .company .prefs .tabs > label {
      width: 35%;
    }
    .tabs > section > p {
      padding: 20px 10px;
    }
    .sertificates h2 {
      font-size: 24px;
    }

    .sp-block h5 {
      width: 90%;
    }

    .img-article img {
      width: 100%;
    }
    .main-container ul {
      margin: 20px;
    }

    .message-form input[type=text] {
      width: 100%;
      margin: 0;
      margin-bottom: 15px;
    }

  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {

    .title h1 {
      font-size: 22px;
    }

    .company .contract {
      width: 200px;
    }

  }