::root
  // font-size: 14px
  color: #444
  
// body
//   color: #444 !important

$primary: #c21d2b
// $primary: #c73f2f

input, .btn, .card, img
  border-radius: 0 !important

a.btn
  text-shadow: none
  padding: 10px 20px !important

.form-inline .form-control
  // padding: 22px 25px

img
  object-fit: cover
  max-width: 100%

a, a svg, a:hover, a:hover svg
  transition: all ease-out 0.2s

section
  padding: 60px 0

.bg-image, .bg-pattern
  background-size: cover
.bg-image
  background-image: url('/bg-pr.jpg')
  background-color: #f1f1f1
.bg-pattern
  background-image: url('/bgn-grad.png')

.btn
  // padding: 10px 25px !important
  // font-size: 12px
  // text-transform: uppercase

.navbar-light .navbar-nav .nav-link
  color: #444
  &:hover
    color: $primary

.slick-prev:before, .slick-next:before
  color: #66666690
  font-size: 2rem
.slick-list
  margin-bottom: 60px !important
.slick-dots
  bottom: -60px
.slider-wrapper
  padding: 0 !important
.slick-slide
  padding: 0 15px

// on scroll animation
.before-fromright
  opacity: 0
  transform: translateX(100px)
  transition: all 0.5s ease
.before-fadein
  opacity: 0
  transform: scale(0.9)
  transition: all 0.5s ease
.enter
  opacity: 1
  transform: translateX(0)
  ransform: translateY(0)
  transform: scale(1)
