$primary: #c21d2b
// $primary: #c73f2f

input, .btn, .card, img
  border-radius: 0 !important

.form-inline .form-control
  // padding: 22px 25px

img
  object-fit: cover
  max-width: 100%

a, a svg, a:hover, a:hover svg
  transition: all ease-out 0.1s

section
  padding: 50px 0

.btn
  // padding: 10px 25px !important
  // font-size: 12px
  // text-transform: uppercase

.navbar-light .navbar-nav .nav-link
  color: #444
  &:hover
    color: $primary