@font-face {
    font-family: "MagistralC"; 
    src: url("fonts/MagistralC/MagistralC.woff") format("woff"), 
    url("fonts/MagistralC/MagistralC.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
     
    @font-face {
        font-family: "MagistralC"; 
        src: url("fonts/MagistralC/MagistralC-Bold.woff") format("woff"), 
        url("fonts/MagistralC/MagistralC-Bold.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: bold; 
        }

:root {
    --dark-color: #454949;
    --black-color: #4F5251;
    --main-color: #d64b5b;
    --sec-color: #00474C;
    --accent-color: #0090B5;
    --accent-font: 'MagistralC';
    --blue-color: #3790B3;
}


body {
    color: var(--dark-color);
    line-height: 1.4;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}




/* TYPOGRAPHY */
.accent-font {
    font-family: var(--accent-font);
}
.title {
    font-family: var(--accent-font);
    line-height: 1.2;
}
.bg-accent {
    background-color: var(--main-color);
    color: #fff;
}
.bg-light {
    background-color: var(--blue-color);
}
.bg-dark {
    background-color: var(--black-color);
    color: #fff;
}
.bg-pattern {
    background-image: url('img/pattern-left.svg');
}
img {
    max-width: 100%;
}
.no-link a {
    text-decoration: none;
    color: inherit;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-center, .text-center * {
    text-align: center;
}
.text-right, .text-right * {
    text-align: right;
}




/* HEADER */

.site-header {
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    position: fixed;
    width: 100%;
    max-width: 2000px;
    top: 0;
    left: 0;
    padding: 0 40px 20px;
    background-color: #fff;
}
.header-logo img {
    width: 150px;
    padding: 15px 15px 0;
}
.header-menu {
    margin-left: auto;
}
.header-menu nav {
    height: 100%;
}
.header-menu ul {
    display: flex;
    align-items: end;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-menu li {
    display: flex;
    align-items: center;
}
.header-menu a {
    border-left: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    padding: 10px 20px;
    margin: 0 5px;
    color: var(--dark-color);
    transition: all 0.2s ease;
}
.header-menu a:hover {
    text-decoration: none;
    /* cursor: default; */
    transition: all 0.2s ease;
}
.header-menu li:not(.current-menu) a:hover {
    background-color: var(--sec-color);
    color: #fff;
    /* cursor: pointer; */
}
.header-menu .current-menu a {
    border-left: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.header-burger {
    background-color: var(--sec-color);
    display: flex;
    align-items: end;
    padding: 10px;
    margin-bottom: -30px;
    z-index: 3;
}
.burger-icon {
    display: inline-block;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 8px;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}




/* BURGER MENU */

.burger-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--sec-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: scroll;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.burger-menu.active {
    opacity: 1;
}
.burger-menu nav {
    padding: 30px;
}
.burger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.burger-menu ul ul {
    display: none;
}
.burger-menu li {
    margin-bottom: 15px;
}
.burger-menu li a {
    color: #fff;
    padding: 15px;
    font-size: 24px;
    font-weight: 400;
}




/* HERO */

section.hero {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}
.hero-main {
    padding-left: 300px;
    padding-top: 200px;
}
.hero-main .hero-title {
    border-left: 10px solid var(--main-color);
    background-color: #ffffffbd;
    margin-right: -300px;
    z-index: 1;
    position: relative;
    font-size: 42px;
    text-align: right;
    padding: 60px 30px 10px;
    line-height: 0.8;
    margin-bottom: 10px;
    color: var(--main-color);
}
.hero-main .hero-title:after {
    content: '';
    display: block;
    width: 300px;
    height: 10px;
    background-color: var(--accent-color);
    position: absolute;
    right: 0;
    bottom: -10px;
}
.hero-main .hero-title h1 {
    font-weight: 400;
}
.hero-subtitle {
    background-color: var(--main-color);
    color: #fff;
    padding: 50px 15px;
    height: 350px;
    width: 300px;
    text-align: center;
    line-height: 1.2;
    /* font-size: 16px; */
}
.hero-subtitle img {
    width: 100px;
    margin-bottom: 30px;
}
.hero-subtitle h2 {
    font-weight: 400;
}
.hero-slider {
    width: calc(100% - 600px);
}
.hero-slider {
    /* height: calc(100% - 100px); */
    /* height: 600px; */
}
.slider {
    /* height: 100%; */
}
.hero-slider img {
    max-height: 100%;
    height: 760px;
    width: 100%;
    object-fit: cover;
}





/* IN HALF SECTIONS */

.half-wrapper {
    display: flex;
}
.half-wrapper>* {
    width: 50%;
    padding: 50px 100px;
}
.half-first {
    padding-left: 300px;
}
.half-sec {
    padding-right: 300px;
}
.half-first:after {
    content: '';
    display: block;
    background-color: var(--main-color);
    width: 10px;
    height: 100%;
    position: absolute;
    right: 50px;
    top: 50px;
}
.half-first:before {
    content: '';
    display: block;
    background-color: var(--main-color);
    width: 70%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 3"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
	background-size: 6px 6px;
    color: #fff;
    background-color: #fff;
}

/* IN HALF ABOUT */

.half-section.about {
    margin-top: -50px;
}
.about .half-wrapper>* {
    /* padding: 50px 200px 0 100px; */
    padding-bottom: 0;
    margin-bottom: 50px;
}
.about .half-first {
    color: #fff;
    text-align: right;
    margin-top: -50px;
    position: relative;
    padding: 70px 100px;
}
.about .half-first h3 {
    font-weight: 400;
    font-size: 24px;
}



/* SLIDER DOTS */

  .my-dots {
    position: absolute;
    bottom: 100px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .my-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }
  .my-dots li button:hover:before,
  .my-dots li button:focus:before {
    opacity: 1;
  }
  .my-dots li button:before {
    content: '';
    background-color: #ccc;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 10px;
  }
  
  .my-dots li.slick-active button:before {
    opacity: .75;
    color: black;
  }
  



  /* UTP */

  .utp {
      text-align: center;
      font-family: var(--accent-font);
      font-size: 250%;
  }
  .utp-title {
      font-weight: bold;
  }
  .utp-desc {
      padding: 30px 0;
  }
  .utp-desc p {
      max-width: 500px;
      margin: 0 auto;
      line-height: 1.2;
      margin-bottom: 20px;
  }
  .utp img {
      width: 50px;
  }





  /* PRODUCTS GRID */

  .products-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
  }
  .products-grid__item {
      max-width: 300px;
      margin: 15px;
      text-align: center;
  }
  .products-grid__item h3 {
      font-weight: normal;
  }
  .products-grid__item img {
      margin-bottom: 15px;
  }




@media (max-width: 1400px) {
    .hero-main {
        padding-left: 0;
    }
    .hero-slider {
        width: 100%;
        width: calc(100% - 300px);
    }
    .about-text {
        padding: 30px;
    }
}
@media (max-width: 992px) {
    .header-menu {
        display: none;
    }
    .header-wrapper {
        justify-content: space-between;
    }
    .hero-slider {
        margin-left: -300px;
        width: 100%;
    }
    .hero-subtitle {
        position: relative;
        z-index: 2;
    }
    .about-title {
        z-index: 3;
    }
    .about-text {
        padding: 30px;
        margin-left: -40%;
        z-index: 5;
        background: #fff;
        width: 80%;
        border: 1px solid;
    }
}
@media (max-width: 576px) {
    .hero-main .hero-title {
        font-size: 100%;
        margin-right: 0;
    }
    .hero-subtitle {
        height: auto;
    }
    .hero-subtitle img {
        width: 50px;
    }
    .hero-subtitle h2 {
        font-size: 120%;
    }
    .about-title {
        margin-top: -50px;
        text-align: center;
        width: 80%;
    }
    .about-text {
        margin-top: 100px;
        margin-left: -70%;
    }
    .about-title h3 {
        font-size: 120%;
    }
}