/* @font-face {
    font-family: "MagistralC";
    src: url("fonts/MagistralC/MagistralC.woff") format("woff"),
        url("fonts/MagistralC/MagistralC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} */

/* @font-face {
    font-family: "MagistralC";
    src: url("fonts/MagistralC/MagistralC-Bold.woff") format("woff"),
        url("fonts/MagistralC/MagistralC-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
} */

/* @font-face {
    font-family: 'Magistral Extra';
    src: url('fonts/MagistralC/Magistral-ExtraBoldItalic.eot');
    src: local('Magistral Extra Bold Italic'), local('Magistral-ExtraBoldItalic'),
        url('fonts/MagistralC/Magistral-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-ExtraBoldItalic.woff') format('woff'),
        url('fonts/MagistralC/Magistral-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
} */

/* @font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC/Magistral-LightItalic.eot');
    src: local('Magistral Light Italic'), local('Magistral-LightItalic'),
        url('fonts/MagistralC/Magistral-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-LightItalic.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-LightItalic.woff') format('woff'),
        url('fonts/MagistralC/Magistral-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Magistral Extra';
    src: url('fonts/MagistralC/Magistral-ExtraBold.eot');
    src: local('Magistral Extra Bold'), local('Magistral-ExtraBold'),
        url('fonts/MagistralC/Magistral-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-ExtraBold.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-ExtraBold.woff') format('woff'),
        url('fonts/MagistralC/Magistral-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
} */

@font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC/Magistral-Medium.eot');
    src: local('Magistral Medium'), local('Magistral-Medium'),
        url('fonts/MagistralC/Magistral-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-Medium.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-Medium.woff') format('woff'),
        url('fonts/MagistralC/Magistral-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: 'Magistral Book';
    src: url('fonts/MagistralC/Magistral-BookItalic.eot');
    src: local('Magistral Book Italic'), local('Magistral-BookItalic'),
        url('fonts/MagistralC/Magistral-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-BookItalic.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-BookItalic.woff') format('woff'),
        url('fonts/MagistralC/Magistral-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Magistral Book';
    src: url('fonts/MagistralC/Magistral-Book.eot');
    src: local('Magistral Book'), local('Magistral-Book'),
        url('fonts/MagistralC/Magistral-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-Book.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-Book.woff') format('woff'),
        url('fonts/MagistralC/Magistral-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC/Magistral-Bold.eot');
    src: local('Magistral Bold'), local('Magistral-Bold'),
        url('fonts/MagistralC/Magistral-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-Bold.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-Bold.woff') format('woff'),
        url('fonts/MagistralC/Magistral-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC/Magistral-Light.eot');
    src: local('Magistral Light'), local('Magistral-Light'),
        url('fonts/MagistralC/Magistral-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-Light.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-Light.woff') format('woff'),
        url('fonts/MagistralC/Magistral-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* @font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC/Magistral-MediumItalic.eot');
    src: local('Magistral Medium Italic'), local('Magistral-MediumItalic'),
        url('fonts/MagistralC/Magistral-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-MediumItalic.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-MediumItalic.woff') format('woff'),
        url('fonts/MagistralC/Magistral-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
} */

/* @font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC/Magistral-BoldItalic.eot');
    src: local('Magistral Bold Italic'), local('Magistral-BoldItalic'),
        url('fonts/MagistralC/Magistral-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagistralC/Magistral-BoldItalic.woff2') format('woff2'),
        url('fonts/MagistralC/Magistral-BoldItalic.woff') format('woff'),
        url('fonts/MagistralC/Magistral-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
} */




:root {
    --accent-font: 'MagistralC';
    --main-color: #d64b5b;
    --alt-color: #0090B4;
    --black-color: #3d3f3f;
    --dark-color: #4c5151;
    /* --sec-color: #00474C; */
    /* --blue-color: #3790B3; */
    /* --trans-color: #3790b360; */
}


body {
    color: var(--black-color);
    line-height: 1.4;
    overflow-x: hidden;
    margin-top: 100px;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        /* max-width: 1320px; */
        max-width: 1140px;
    }
}




/* TYPOGRAPHY */
.accent-font {
    font-family: var(--accent-font);
}

.title {
    font-family: var(--accent-font);
    line-height: 1.2;
}

.bg-accent {
    background-color: var(--main-color);
    color: #fff;
}

.bg-light {
    background-color: #bcd8db;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-grey {
    background-color: #f1ecef;
}

.bg-pattern {
    background-image: url('img/pattern-left.svg');
    background-size: 50%;
    background-position: -20% 0;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.no-link a {
    text-decoration: none;
    color: inherit;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-center,
.text-center * {
    text-align: center;
}

.text-right,
.text-right * {
    text-align: right;
}

.section-title {
    font-family: var(--accent-font);
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
}


@keyframes moving-y {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

.about .half-first::after, .product-cats:after, section.product-types .section-title:after, section.steps .title-wrapper:after, .steps-comment .container:before, section.gallery .section-title:after {
    animation: moving-y 5s infinite;
}

@keyframes moving-x {
    0% {
        transform: translateX(0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}

.details .half-first:before, .double-slider:before {
    animation: moving-x 15s infinite;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes toright {
    0% {transform: translateX(-100%);}
    100% {transform: translateY(0);}
  }
  @keyframes toright {
    0% {transform: translateX(-100%);}
    100% {transform: translateY(0);}
  }
  .hero-title {
    opacity: 1;
    /* transform: translateX(-150%); */
    animation: fade 2s, toright 1s;
  }
  .hero-main .hero-title:after {
    animation: fade 3s, toright 2s;
  }




/* HEADER */

.site-header {
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    position: fixed;
    width: 100%;
    max-width: 2000px;
    top: 0;
    left: 0;
    padding: 0 40px 20px;
    background-color: #fff;
}

.header-logo {
    padding-left: 240px;
}
.header-logo img {
    width: 150px;
    padding: 15px 15px 0;
}

.header-menu {
    margin-left: auto;
}

.header-menu nav {
    height: 100%;
}

.header-menu ul {
    display: flex;
    align-items: end;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu li {
    display: flex;
    align-items: center;
}

.header-menu a {
    border-left: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    padding: 10px 25px;
    margin: 0 5px;
    color: var(--black-color);
    transition: all 0.2s ease;
}

.header-menu a:hover {
    text-decoration: none;
    /* cursor: default; */
    transition: all 0.2s ease;
}

.header-menu li:not(.current-menu) a:hover {
    background-color: #14474b;
    color: #fff;
    /* cursor: pointer; */
}

.header-menu .current-menu a {
    border-left: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header-burger {
    background-color: #14474b;
    display: flex;
    align-items: end;
    align-content: end;
    padding: 10px;
    margin-bottom: -30px;
    padding-top: 50px;
    z-index: 3;
}

.burger-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 8px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}




/* BURGER MENU */

.burger-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #14474b;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: scroll;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.burger-menu.active {
    opacity: 1;
}

.burger-menu nav {
    padding: 30px;
}

.burger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.burger-menu ul ul {
    display: none;
}

.burger-menu li {
    margin-bottom: 15px;
}

.burger-menu li a {
    color: #fff;
    padding: 15px;
    font-size: 24px;
    font-weight: 400;
}


/* FLOW BUTTONS */

.flow-btns {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.flow-btns ul {
    margin: 0;
    padding: 0;
}
.flow-btns ul {
    display: flex;
    align-items: end;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flow-btns li {
    display: flex;
    align-items: center;
}

.flow-btns a {
    border-left: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    padding: 10px 20px;
    margin: 0 5px;
    color: var(--black-color);
    transition: all 0.2s ease;
    background-color: #fff;
    box-shadow: 0 0 5px 5px #0000001a;
}

.flow-btns a:hover {
    text-decoration: none;
    /* cursor: default; */
    transition: all 0.2s ease;
}

.flow-btns li:not(.current-menu) a:hover {
    background-color: #14474b;
    color: #fff;
    /* cursor: pointer; */
}




/* HERO */

section.hero {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}

.hero-main {
    padding-left: 300px;
    padding-top: 100px;
}

.hero-main .hero-title {
    border-left: 10px solid var(--main-color);
    background-color: #ffffffbd;
    margin-right: -400px;
    z-index: 1;
    position: relative;
    font-size: 42px;
    text-align: right;
    padding: 60px 30px 10px;
    line-height: 0.8;
    margin-bottom: 10px;
    color: var(--main-color);
}

.hero-main .hero-title:after {
    content: '';
    display: block;
    width: 400px;
    height: 10px;
    background-color: var(--alt-color);
    position: absolute;
    right: 0;
    bottom: -10px;
}

.hero-main .hero-title h1 {
    font-weight: 300;
}

.hero-main .hero-title strong {
    font-weight: 500;
}

.hero-subtitle {
    background-color: var(--main-color);
    color: #fff;
    padding: 50px 15px;
    height: 350px;
    width: 300px;
    text-align: center;
    line-height: 1.2;
    /* font-size: 16px; */
}

.hero-subtitle img {
    width: 100px;
    margin-bottom: 30px;
}

.hero-subtitle h2 {
    font-weight: 300;
}

@media (max-width: 1440px) {
    .hero-main {
        padding-left: 100px;
    }
}


/* SLIDERS */

.hero-slider {
    width: calc(100% - 600px);
}

.hero-slider {
    /* height: calc(100% - 100px); */
    /* height: 600px; */
}

.slider {
    /* height: 100%; */
}

.hero-slider img {
    max-height: 100%;
    height: 780px;
    width: 100%;
    width: calc(100% - 600px);
    object-fit: cover;
}

@media (max-width: 1440px) {
    .hero-slider {
        width: calc(100% - 400px);
    }
}


/* PRODUCT TYPES */
section.product-types .section-title {
    margin-left: 50px;
}

section.product-types .section-title:after {
    content: '';
    display: block;
    background-color: var(--main-color);
    width: 10px;
    height: 200px;
    position: absolute;
    left: -15px;
    bottom: 20px;
}

section.product-types .sliders .slider-wrapper:nth-child(1) {
    margin-bottom: 100px;
}

section.product-types .sliders .slider-wrapper:nth-child(1) .double-slider:before {
    content: '';
    display: block;
    width: 40%;
    height: 10px;
    background-color: var(--alt-color);
    position: absolute;
    left: -30%;
    bottom: 20px;
    z-index: 1;
}

/* .double-slider:after {
    content: '';
    display: block;
    width: 40%;
    height: 10px;
    background-color: var(--main-color);
    position: absolute;
    right: -30%;
    top: -0;
    z-index: 1;
} */

section.product-types .sliders .slider-wrapper:nth-child(2) .double-slider:before {
    content: '';
    display: block;
    width: 40%;
    height: 10px;
    background-color: var(--main-color);
    position: absolute;
    right: -30%;
    top: -0;
    z-index: 1;
}

section.product-types .sliders .slider-wrapper:nth-child(2) .double-slider:after {
    content: url(img/angle-b.png);
    transform: scaleX(-1);
    position: absolute;
    right: -30px;
    bottom: -60px;
}

.double-slider {
    width: 100%;
}

.double-slider .slide {
    display: flex;
    width: 100%;
}

.double-slider .slick-slide:nth-child(2n) .slide {
    flex-direction: row-reverse;
}

.double-slider .slide-text {
    width: 50%;
    background-color: #f1ecef;
    text-align: center;
    padding: 50px 70px;
}

.double-slider .slide-text h3 {
    font-family: var(--accent-font);
    font-weight: 300;
    font-size: 200%;
}

.double-slider img {
    width: 50%;
    height: 400px;
}

/* SLIDER ARROWS */

.slider-arrows {
    position: relative;
}

.slider-arrows .prev,
.slider-arrows .next {
    position: absolute;
    width: 50px;
    top: -250px;
}

.slider-arrows .prev {
    left: 15px;
}

.slider-arrows .next {
    right: 15px;
}

.slider-arrows img:hover {
    cursor: pointer;
    filter: url(#id-of-your-filter);
}

.arrow-hover {
    display: none;
}

/* SLIDER DOTS */

.my-dots {
    position: absolute;
    bottom: 100px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    z-index: 1;
}

.my-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
    outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
    opacity: 1;
}

.my-dots li button:before {
    content: '';
    background-color: #ccc;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 10px;
}

.my-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}




/* IN HALF SECTIONS */

.half-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.half-wrapper>* {
    width: 50%;
    padding: 50px 100px;
    position: relative;
}

.half-first {
    padding-left: 20%;
    font-family: var(--accent-font);
}

.half-sec {
    padding-right: 20%;
}

/* @media (max-width: 1440px) {
    .half-first {
        padding-left: 200px;
    }

    .half-sec {
        padding-right: 200px;
    }
} */


/* IN HALF ABOUT COMPANY */

.half-section.about {
    margin-top: -220px;
    padding-bottom: 50px;
}

.about .half-wrapper>* {
    /* padding: 50px 200px 0 100px; */
    padding-bottom: 0;
    margin-bottom: 50px;
}

.about .half-first:after {
    content: '';
    display: block;
    background-color: var(--main-color);
    width: 10px;
    height: 100%;
    position: absolute;
    right: 50px;
    top: 70px;
}

.about .half-first:before {
    /* content: '';
    display: block;
    background-color: var(--main-color);
    width: 70%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0; */
    /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 3"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
	background-size: 6px 6px;
    color: #fff;
    background-color: #fff; */
}

.about .half-first {
    color: #fff;
    text-align: right;
    margin-top: -50px;
    position: relative;
    padding: 70px 100px;
}

.about .half-first.about-title {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
}

.about .half-first .decor-hatch {
    position: absolute;
    left: 0;
    top: 0;
}
.about .half-sec {
    padding-top: 200px;
}


/* IN HALF ABOUT PRODUCT */

.about-product {
    /* border-top: 1px solid #666; */
    padding-top: 100px;
}

.about-product .section-title {
    color: var(--alt-color);
    font-size: 400%;
}

.about-product .half-first {
    margin-right: 50px;
    width: calc(50% - 50px);
}

.about-product .half-first p {
    font-size: 200%;
    margin-top: 50px;
    font-weight: 300;
    position: relative;
}

.about-product .half-first p:before {
    content: url('img/angle-b.png');
    position: absolute;
    left: -50px;
    bottom: -80px;
}

.about-product .half-first .decor {
    position: absolute;
    bottom: -300px;
    left: 100px;
    height: 800px;
}

.about-product .half-sec {
    margin-left: -50px;
    padding-left: 150px;
}

.half-feats__item {
    position: relative;
    margin-bottom: 50px;
}

.half-feats__item span {
    text-transform: uppercase;
    font-size: 250%;
    font-family: var(--accent-font);
    font-weight: bold;
    color: #14474b;
}

.half-feats__item p {
    max-width: 400px;
}

.half-feats__item img {
    position: absolute;
    width: 200px;
    left: -210px;
    top: -30px;
    transition: 0.2s ease;
}
.half-feats__item:hover img {
    transform: translateX(5px);
    transition: 0.2s ease;
}


/* IN HALF DETAILS */

.details .half-sec {
    padding: 0;
}

.details .half-sec img {
    height: 100%;
}

.details .half-first:before {
    content: '';
    display: block;
    width: 300px;
    height: 10px;
    background-color: var(--alt-color);
    position: absolute;
    right: 0;
    top: -10px;
}

.details .half-first {
    padding-top: 100px;
    padding-bottom: 100px;
}

.details .half-first h3 {
    text-transform: uppercase;
    font-weight: 300;
    color: #14474b;
    font-size: 250%;
    margin-left: -60px;
}

.details .half-first p {
    font-size: 150%;
    font-weight: 300;
    position: relative;
}

.details .half-first p:before {
    content: url('img/angle-b.png');
    position: absolute;
    left: -50px;
    bottom: -80px;
}

.details .half-first .decor {
    position: absolute;
    bottom: -300px;
    left: 80px;
    height: 800px;
}

.details .half-third {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: var(--accent-font);
    font-size: 150%;
    padding: 30px 50px;
    text-align: right;
}

.details .half-third>* {
    width: 20%;
    width: 23%;
    margin: 0 15px;
    font-weight: 300;
}

.details .half-third img {
    width: 100px;
    transition: 0.2s all ease;
}.details .half-third img:hover {
    transform: translateY(5px);
    transition: 0.2s all ease;
}

.details .half-fourth {
    font-family: var(--accent-font);
    font-size: 200%;
    text-transform: uppercase;
    margin-top: -80px;
    height: 200px;
    font-weight: 300;
    padding: 50px;
}



/* UTP */

.utp {
    text-align: center;
    font-family: var(--accent-font);
    /* font-size: 220%; */
    padding-top: 0;
}

.utp .section-title {
    text-transform: uppercase;
    font-weight: 500;
}

.utp-desc {
    padding: 30px 0;
}

.utp-desc p {
    max-width: 460px;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 220%;
    font-weight: 300;
}

.utp img {
    width: 50px;
    transition: 0.2s ease;
}
.utp img:hover {
    transform: translateY(-5px);
    transition: 0.2s ease;
}





/* PRODUCTS CATS */

.product-cats {
    position: relative;
    padding-bottom: 100px;
}

.product-cats:before {
    content: url('img/hatch-b.png');
    position: absolute;
    bottom: -5px;
    left: -440px;
}

.product-cats:after {
    content: '';
    display: block;
    background-color: var(--main-color);
    width: 10px;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: -40px;
}

/* .product-cats .decor-hatch {
    position: absolute;
    bottom: 0;
    left: -300px;
} */
.product-cats .section-title {
    text-align: center;
}

.product-cats .section-title span {
    color: var(--alt-color);
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.products-grid__item {
    width: 30%;
    max-width: 300px;
    margin: 15px;
    text-align: center;
}

.products-grid__item h3 {
    font-weight: normal;
}

.products-grid__item img {
    margin-bottom: 15px;
    max-height: 300px;
    transition: 0.2s all ease;
}

.products-grid__item:hover img {
    transform: scale(1.1);
    transition: 0.2s all ease;
}




/* STEPS */

section.steps .title-wrapper {
    position: relative;
}

section.steps .title-wrapper:before {
    content: url('img/hatch-b.png');
    position: absolute;
    bottom: -35px;
    left: -440px;
}

section.steps .title-wrapper:after {
    content: '';
    display: block;
    background-color: var(--main-color);
    width: 10px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -40px;
    z-index: 1;
}

section.steps .section-title {
    text-align: center;
    font-size: 400%;
}

section.steps .bg-light {
    position: relative;
    padding-bottom: 50px;
}

.steps .bg-light:before {
    content: '';
    background-image: url('img/hatch-w.png');
    background-position: 50% 100%;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: 25%;
}

.steps-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0 30px;
}

.steps-item {
    width: 190px;
    text-align: center;
    margin: 15px;
    position: relative;
    z-index: 0;
}

.steps-item img {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: 0.2s ease;
}
.steps-item:hover img {
    transform: translateY(-5px);
    transition: 0.2s ease;
}

.steps-item:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    font-family: var(--accent-font);
    font-size: 400%;
    color: #ffffff50;
    font-weight: bold;
    z-index: -1;
}

.steps-item:nth-child(1):before {
    content: '1';
}

.steps-item:nth-child(2):before {
    content: '2';
}

.steps-item:nth-child(3):before {
    content: '3';
}

.steps-item:nth-child(4):before {
    content: '4';
}

.steps-item:nth-child(5):before {
    content: '5';
}

.steps-comment {
    font-family: var(--accent-font);
    font-size: 250%;
    padding: 50px;
    line-height: 1.2;
    font-weight: 300;
}

.steps-comment .container {
    position: relative;
    padding-left: 50px;
}

.steps-comment .container:before {
    content: '';
    display: block;
    width: 10px;
    height: 300px;
    background-color: var(--alt-color);
    position: absolute;
    left: 0;
    top: -10px;
}

.steps-comment span:first-child {
    font-size: 140%;
    display: block;
}



/* FEATURES */

section.features .section-title {
    text-align: center;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    margin: 30px;
}

.features-item img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 15px;
    object-fit: contain;
    transition: 0.2s ease;
}
.features-item:hover img {
    transform: translateY(-5px);
    transition: 0.2s ease;
}


/* GALLERY */

section.gallery .section-title {
    /* position: relative; */
    margin-left: 50px;
}

section.gallery .section-title:after {
    content: '';
    display: block;
    background-color: var(--main-color);
    width: 10px;
    height: 200px;
    position: absolute;
    left: -15px;
    top: -20px;
}

.gallery-wrapper {
    column-count: 3;
    column-gap: 10px;
}

.gallery-wrapper img {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    transition: 0.2s all ease;
}
.gallery-wrapper img:hover {
    box-shadow: 0 0 10px 0px #aaaaaa;
    transition: 0.2s all ease;
}

.gallery-slider {
    margin: 50px;
}
.gallery-slider a {
    margin: 30px;
    display: block;
}
.gallery .slider-arrows .prev, .gallery .slider-arrows .next {
    top: 300px;
}
.gallery .slider-arrows .prev {
    left: 0;
}
.gallery .slider-arrows .next {
    right: 0;
}



/* FOOTER */

.site-footer {
    background-color: var(--black-color);
    color: #fff;
    padding: 80px 0 100px;
    font-family: var(--accent-font);
    background-image: url('img/pattern-left.svg');
    background-position: 110% 110%;
    background-repeat: no-repeat;
    background-size: 30%;
    font-weight: 300;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    max-width: 230px;
    margin: 30px;
}

.footer-title {
    margin-bottom: 30px;
}

.site-footer li {
    margin-bottom: 15px;
}

.site-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-footer a {
    color: inherit;
}




/* MAGNIFIC POPUP */

.image-source-link {
    color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


@media (max-width: 1440px) {
    .header-logo {
        padding-left: 50px;
    }
    .header-menu a {
        padding: 10px 20px;
    }
    .hero-slider img {
        height: 660px;
    }
    .half-section.about {
        margin-top: -100px;
    }
    .about .half-sec {
        padding-top: 50px;
    }
    section.product-types .sliders .slider-wrapper:nth-child(1) .double-slider:before {
        bottom: 0;
    }
}

@media (max-width: 1400px) {

    .header-logo {
        padding-left: 0;
    }
    .hero-main {
        padding-left: 0;
    }

    .hero-slider {
        width: 100%;
        width: calc(100% - 300px);
    }

    .half-first {
        padding-left: 80px;
    }

    .half-sec {
        padding-right: 100px;
        padding-left: 50px;
    }

    .about-text {
        padding: 30px;
    }

    /* .double-slider:after {
        display: none;
    } */
    .double-slider img {
        height: 500px;
    }

    .steps-item {
        width: 16%;
    }

    .steps-item img {
        width: 120px;
    }

    .features-item {
        width: 250px;
    }

    .details .half-fourth {
        padding: 30px;
        font-size: 180%;
    }

    .details .half-third>* {
        font-size: 80%;
        margin: 0 10px;
    }
}

@media (max-width: 992px) {

    .site-header {
        justify-content: space-between;
    }

    .header-menu {
        display: none;
    }

    .header-wrapper {
        justify-content: space-between;
    }

    .flow-btns {
        display: none;
    }

    section.hero {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .hero-main {
        padding-top: 0;
    }

    .hero-slider {
        margin-left: 0;
        width: 100%;
    }

    .hero-slider img {
        height: 560px;
    }

    .my-dots {
        /* bottom: 50px; */
    }

    .hero-main .hero-title {
        font-size: 250%;
        margin: -50px 50px 20px;
        background-color: #fff;
        box-shadow: 0 0 15px 1px #666;
    }

    .hero-subtitle {
        /* position: relative;
        z-index: 2; */
        width: 100%;
        height: 450px;
        margin-top: -100px;
        padding-top: 150px;
    }

    .section-title,
    .utp-desc p,
    .steps-comment {
        font-size: 200%;
    }

    .about-product .section-title,
    section.steps .section-title {
        font-size: 200%;
    }

    .half-wrapper>* {
        width: 100%;
    }

    .about .half-wrapper>* {
        margin-bottom: 0;
    }

    .about-title {
        /* z-index: 3; */
    }

    .about-text {
        padding: 30px;
        margin-left: -40%;
        z-index: 5;
        background: #fff;
        width: 80%;
        border: 1px solid;
    }

    .about-product {
        padding-top: inherit;
    }

    .about-product .half-first {
        width: 100%;
        margin: 0;
        padding: 20px 100px 100px;
    }

    .about-product .half-first p {
        font-size: 150%;
    }

    .about-product .half-sec {
        margin: 0;
        margin-left: 100px;
        width: calc(100% - 100px);
    }

    .half-feats__item span {
        font-size: 150%;
    }

    .double-slider .slide {
        flex-wrap: wrap;
    }

    .double-slider .slide-text,
    .double-slider img {
        width: 100%;
    }

    .double-slider .slide-text {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .double-slider img {
        height: 300px;
    }

    .details .half-first h3 {
        font-size: 150%;
        margin-left: 0;
    }

    .details .half-fourth {
        margin-top: 0;
    }

    .steps .bg-light:before {
        top: 30%;
    }
    .steps-wrapper {
        justify-content: space-evenly;
    }

    .steps-item {
        width: 40%;
    }

    .features-item {
        width: 45%;
        margin: 30px 0;
    }

    section.product-types {
        padding-top: 0;
        padding-bottom: 100px;
    }

}

@media (max-width: 576px) {

    .hero-slider img {
        height: 400px;
    }
    .my-dots {
        bottom: 20%;
    }
    .hero-main .hero-title {
        font-size: 120%;
        margin: 0;
        margin-left: 15px;
        margin-top: -30px;
    }
    .hero-main .hero-title:after {
        width: 50%;
    }
    .hero-subtitle h2 {
        font-size: 120%;
    }

    .half-section.about {
        padding-bottom: 0;
    }
    .about .half-first.about-title {
        font-size: 120%;
        padding: 70px;
    }
    .about .half-wrapper>* {
        padding: 30px;
    }
    .about .half-sec {
        padding-top: 80px;
    }

    .section-title, .utp-desc p, .steps-comment {
        font-size: 150%;
    }

    .products-grid__item {
    margin: 15px 5px;
    width: 45%;
    }
    .products-grid__item h3 {
        font-size: 100%;
    }
    .products-grid__item img {
        max-height: 200px;
    }

    .about-product .half-first, .details .half-first {
        padding: 20px 20px 100px 60px;
    }

    .about-product .half-sec {
        margin: 0;
    width: 100%;
    padding: 30px;
    }
    .half-feats__item img {
        position: static;
        margin-bottom: 15px;
    }

    section.product-types .section-title, section.gallery .section-title {
        margin-left: 15px;
    }
    section.product-types .section-title:after, section.gallery .section-title:after {
        height: 100px;
        bottom: 0;
        left: -30px;
        top: initial;
    }

    .double-slider .slide-text {
        padding: 15px;
    }
    .double-slider:after {
        content: '';
    }

    .details .half-first p {
        font-size: 120%;
    }

    .details .half-sec img {
        height: 300px;
    }

    .details .half-third {
        flex-wrap: wrap;
    }
    .details .half-third {
        padding: 15px;
    }
    .details .half-third>* {
        width: 50%;
        margin-bottom: 15px;
    }

    .details .half-fourth {
        height: auto;
        font-size: 150%;
    }

    .steps-item {
        width: 100%;
    }
    .steps-item:before {
        left: 25%;
    }

    .features-item {
        font-size: 90%;
    }
    .features-item img {
        max-width: 100px;
        max-height: 100px;
    }

    .gallery-wrapper {
        column-count: 2;
    }

    .gallery-slider a {
        margin: 10px;
    }
    .gallery .slider-arrows .prev, .gallery .slider-arrows .next {
        top: 50px;
    }

}