html, body { 
margin: 0; 
padding: 0;
font-family: 'Roboto', sans-serif; 
overflow-x: hidden; 
height:100%;
width: auto;
color:#000; 
background:#fff;
font-size:14px;
}

ol, ul { 
padding: 0;
margin:0;
list-style:none; 
}

.clearfix:before, 
.clearfix:after { 
content: " "; 
display: table; 
}

.clearfix:after { 
clear: both; 
}

.clearfix { 
*zoom: 1; 
}

a { 
color: #50b848; 
-webkit-transition: all .25s ease; 
-moz-transition: all .25s ease; 
-ms-transition: all .25s ease; 
-o-transition: all .25s ease; 
transition: all .25s ease; 
text-decoration:none; 
}

a:hover { 
color: #ccc; 
text-decoration: none; 
}

.nopadding { 
padding: 0 !important; 
margin: 0 !important; 
}

.wrapper {
width:100%;
max-width: 1200px;
margin: 0 auto;
padding: 10px 15px;
}

.left {
float:left;
}

.right {
float:right;
}


h1, h2, h3, h4, h5 {

}

h1 {
font-family: 'Roboto Condensed', sans-serif;
font-size:36px;
}

h2.title {
text-align:center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  color: #50b848;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 60px 0 60px 0;
}

h2.title:before {
  content: "";
  position: absolute;
  width: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  height: 2px;
  background: #50b848;
}




/*ХЕДЕР*/

header {
}

header .call span {
	font-family: 'Roboto Condensed', sans-serif;
    font-size:24px;
	text-transform:uppercase;
	}

header .call i {
	width:50px;
	height:40px;
	background:#50b848;
	color:#fff;
	text-align:center;
	border-radius:30px;
	padding-top:10px;
	margin: 0 10px 0 0;
	}
	
.phone {
	text-align:center;
	margin: 0 15%;
	}
.phone span {
	display: block;
	color:#838383;
	letter-spacing:1px;
	}
	
.phone span:first-child {
	font-family: 'Roboto Condensed', sans-serif;
    font-size:30px;
	font-weight:600;
	text-transform:uppercase;
	color: #50b848;
	}
	
.sell {
	background:#50b848;
	color:#fff;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
    font-size:24px;
	text-transform:uppercase;
	padding:10px 40px;
	border:1px solid #50b848;
	}
	
.sell:hover {
	color:#50b848;
	background:#fff;
	}
	
.sell i {
	font-size:24px;
	margin: 0 15px 0 0;
	}
	
header .clearfix:first-child {
	margin-bottom:20px;
	}

/*ГЛАВНОЕ МЕНЮ*/

header nav {margin: 40px 0 0 0;}


header nav ul li {
float:left;
display:block;
margin:0 10px;
padding:0;
}

header nav ul li a {
font-family: 'Roboto Condensed', sans-serif;
display: block;
font-size:16px;
text-transform: uppercase;
padding: 16px 0 10px 0;
box-sizing: border-box;
border-bottom:2px solid #fff;
color:#5c5c5c;
font-weight:500;
}

header nav ul li a:hover {
color:#50b848;
border-bottom:2px solid #50b848;
}

	
/*САБХЕДЕР*/

.subheader {
	height:700px;
	background-image:url(../img/main.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	}
	
@media screen and (max-width:1440px) { 
.subheader {
	height:500px;
}
}


/*ФИЛЬТР*/

.filter {
text-align:center;
margin-top:-40px;
height:100px;
background:#50b848;	
color:#fff;
text-transform:uppercase;
font-size:24px;

	}
	
/*.filter span {
	display: inline-block;
	padding:20px 20px 20px 0;
	margin: 15px 10px 15px  10px;
	border-right:1px solid rgba(255,255,255,0.5);}*/
	
	.filter i {
		margin: 0 0 0 15px;}
		
	.filter a {
		border:1px solid #50b848;
		background:#fff;
		color:#50b848;
		padding: 15px 30px;
		margin:0 20px;
		}
		
		.filter a:hover {
			
		border:1px solid #fff;
		background:#50b848;
		color:#fff;
	}

/*О НАС*/

.about{
	max-width:1000px;
	height:500px;
	}

.about img.left {
	width:400px;
	}
	
.about div.right {
width:550px;
margin: 0 0 0 40px;
line-height:1.6;
text-align:justify;
}


.about p {margin:0;}

/*ОБЪЕКТЫ*/

.objects {
text-align:center; 

}

.objects.wrapper {
	padding: 0 0 60px 0;
	}

.objects .item {
	color:#50b848;
	width:30%;
	display: inline-block;
	vertical-align:top;
	padding:0 15px;
	box-sizing:border-box;
	margin: 0 0 30px 0;
	}
	
.objects .item .container {
	border:1px solid #ddd;
	}
	
.objects .item img {
	width:100%;
	display: block;
	height:200px;
	}
	
.objects .item .description {
	text-align:left;
	margin: 10px;}
	
.objects .item h3  {
	font-size:18px;
	font-weight:300;
	color:#50b848;
	text-transform:uppercase;
	}
	
.objects .item .price {
	font-size:24px;
	font-weight:600;
	}
	
.objects .readmore.all {
	background:#fff;
	padding:10px 20px;
	text-align:center;
	display: inline-block;
	color:#50b848;
	text-transform:uppercase;
	font-size:24px;
	margin:10px 0 0 0;
		border:1px solid #50b848;
	}
	
.objects .readmore.all:hover {background:#50b848;color:#fff;}
	
.objects .item .readmore {
	background:#50b848;
	width:100%;
	padding:10px 0;
	text-align:center;
	display: block;
	color:#fff;
	text-transform:uppercase;
	font-size:24px;
	margin:10px 0 0 0;
	
	}
	
/*БЛОГ*/

.blog {
	background: #e8e8e8;
	padding: 0 0 20px 0;
	}
.blog .wrapper {
	max-width:1000px;}
	
.blog .left {
	width:400px;
	}
.blog .right {
	margin: 0 0 0 40px;
	width:550px;
	}
.blog h3 {
	margin:0;
	font-size:24px;}
	
.blog p {
	line-height:1.6;
	text-align:justify; }
	
	
.blog nav {
	text-align:center;
	margin:30px auto;
	}

.blog nav ul li {
	display:inline-block;
	margin:0 5px;
	height:10px;
	width:10px;
	border-radius:5px;
	background:#7e7e7e;
	}
	
.blog nav ul li:hover,
.blog nav ul li.active {background:#50b848;}


.blog .readmore {
	background:#50b848;
	padding:10px 20px;
	text-align:center;
	display: inline-block;
	color:#fff;
	margin:10px auto;
	border:1px solid #50b848;
	}
	
.blog .readmore:hover {
	color:#50b848;
	background:#e8e8e8;
	border:1px solid #50b848;
	}




/*НОВОСТИ*/



.news .column h3 {
font-size:20px;
color:#575757;
}

.news .column-first {
margin: 0 40px 0 0;
width:48%;
}

.news .column-first .img-block {
width:100%;
overflow:hidden;
}
.news .column-first .img-block img {
width:100%;}

.news .column-second {
width:46%;
}

.news .column-second .item {
	margin: 0 0 40px 0;
	position:relative;}
	
	
.news .column-second h3 {
	margin: 0;}

.news .column-second .img-block {
width:40%;
overflow:hidden;
float:left;
margin: 0 20px 0 0;
}
.news .column-second .img-block img {
width:100%;}

.news .item  .readmore {
	background:#50b848;
	padding:10px 20px;
	text-align:center;
	display: inline-block;
	color:#fff;
	margin:40px 0 0 0;
	border:1px solid #50b848;
	}
	
.news .item .readmore:hover {
	color:#50b848;
	background:#fff;
	border:1px solid #50b848;
	}
	
.news .item .description {
	text-align: justify;
	margin: 10px 0;
	color:#575757;
	line-height:1.6;}
	
	

/*ПАРТНЕРЫ*/
.partners {
text-align:center;
padding: 0 0 40px 0;
}


/*КОНТАКТЫ*/

.contacts {
background:#303030;
color:#fff;
padding:30px 0;
}

.contacts h5 {
	font-size:14px;
	font-weight:300;
	margin: 0 0 20px 0;
	text-transform:uppercase;
	}
	
.contacts nav {
	}
	
.contacts nav li {
	margin: 0 0 6px 20px;}

.contacts nav a {
	color:#bababa;}
.contacts nav a:hover {
	color:#fff;}
	
	.contacts div.right {margin: 0 40px 0 0;}
	
.contacts div.right span {
	display:block;
	margin:0 0 10px 20px; 
	}
	
.contacts div.right span i {
	margin: 0 10px 0 0;}
	

	.contacts  a.call {
		text-align:center;
		background:#50b848;
		font-family: 'Roboto Condensed', sans-serif;
		font-size:24px;
			text-transform:uppercase;
			color:#fff;
			padding:10px;
			margin: 20px 0 0 20px;
			display:block;

		}
	
.contacts  a.call i {margin: 0 10px 0 0;}	

.contacts  a.call:hover {
	background:#fff;
	color:#50b848;}
		


/*ФУТЕР*/

footer { 
font-size:12px;
background: #000; 
padding: 20px 0; 
color:#fff;
}

footer .wrapper {padding: 10px 15px;}footer .wrapper a {color:#fff;font-size:20px;margin:0 5px;}



/*СТРАНИЦА КОНТАКТЫ*/

#contacts .filter {
	margin-top:0;}
	
#contacts .filter .wrapper  {
	padding: 0 15px;}
	
#contacts .map {
	margin:40px auto;}
	
	
#contacts .content {padding:60px 0;}	
	
#contacts .content .left {

	width:45%;}
	
#contacts .content h2 {
	color:#50b848;
	font-size:30px;
	text-transform:uppercase;
	}
	
#contacts .content .left:first-child span {
	display: block;
	margin:20px 0;
	font-size:18px;
	}
	
#contacts .content .left:first-child span i {margin: 0 10px 0 0; color:#50b848;}
	#contacts .content .social {
		margin:40px 0 0 0 ;}
#contacts .content .social i {margin:0 10px;font-size:24px;}

#contacts input[type='text'] {
	box-sizing:border-box;
	width:100%;
	display: block;
	margin: 0 0 20px 0;
	border: 1px solid #50b848; 
	padding:15px 20px;
	font-style: italic;
	font-size:18px;
	}
	
#contacts textarea {
	box-sizing:border-box;
	width:100%;
	display: block;
	margin: 0 0 20px 0;
	border: 1px solid #50b848; 
	padding:15px 20px;
	font-style: italic;
	font-size:18px;
	min-height:100px;
	font-family: 'Roboto', sans-serif;
	}
	
#contacts input[type='submit'] {
	cursor:pointer;
	box-sizing:border-box;
	display: block;
	margin: 0 auto;
	border: 1px solid #50b848; 
	padding:15px 20px;
	text-transform: uppercase;
	font-size:24px;
	background:#50b848;
	color:#fff;
	
	-webkit-transition: all .25s ease; 
-moz-transition: all .25s ease; 
-ms-transition: all .25s ease; 
-o-transition: all .25s ease; 
transition: all .25s ease; 
	}
	
#contacts input[type='submit']:hover {
	color:#50b848;
	background:#fff;
	}
	
	
/*ХЛЕБНЫЕ КРОШКИ*/	

.breadcrumbs ul li {
	display: inline-block;
	margin: 0 10px 0 0;
	}
	
/*КАРТОЧКА ОБЪЕКТА*/

#object .filter {
	margin-top:0;}
	
#object .filter .wrapper  {
	padding: 0 15px;}
	
#object  .content {padding:60px 15px;}

#object .object-container .description {
	margin:40px 0 0 0;}

#object .object-container .description h2 {
	text-align:center;}
	
#object .content .left {
	width:48%;
	}
	
#object .object-container .img-block {
	margin: 0 20px 0 0;
	}

#object .object-container .img-block img.img-big {
width:100%;
	}
	
	#object .object-container .img-block .thumbs {
		margin:20px 0;
		text-align:center;}
	
	#object .object-container .img-block .thumbs img {
width:18%;
display:inline-block;
margin: 0 4px;
	}
	
#object .object-container {
	margin:40px 0;}
	
	#object h1.title {
		text-align:center;
		color:#50b848;
		font-size:24px;
		margin: 0 0 40px 0;
		}
		
#object .object-container .price {
	display:block;
	background: #f2f2f2;
	margin:20px 0;
	padding:20px 20px 10px 20px;
	box-sizing:border-box;
	}
	
#object .price .left span
 {
	margin: 0 0 20px 0;
	display: block;
	}
	
	#object .price .right span {
	margin: 0 0 10px 0;
	display: block;
	}
	
#object .price .left {
	font-size:16px;
	text-align:left;}
	
#object .price .right {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#50b848;
	text-align:right;}
	
#object a.buy {
	color:#fff;
	background:#50b848;
	padding:10px 20px;
	text-align:center;
	display: block;
	text-transform:uppercase;
	font-size:24px;
	margin:40px auto 0 auto;
	width:200px;
		border:1px solid #50b848;
	}
	
#object .buy:hover {color:#50b848;background:#fff;}

#object a.tomap {
	color:#fff;
	background:#50b848;
	padding:10px 20px;
	text-align:center;
	display: block;
	text-transform:uppercase;
	font-size:24px;
	margin:40px auto 0 auto;
		border:1px solid #50b848;
	}
	
#object a.tomap i {
	margin: 0 10px 0 0;}
	
#object a.tomap:hover {color:#50b848;background:#fff;}
	
	
	
#object .data span {
	display: block;
	margin: 0 0 20px 0;
	}
	
#object .data .left {text-align:left;color:#50b848;font-weight:bold;}
#object .data .right {text-align:right;}


